[submodule "themes/hugo-theme-casper"]
	path = themes/hugo-theme-casper
	url = https://github.com/vjeantet/hugo-theme-casper
[submodule "themes/hugo-icarus-theme"]
	path = themes/hugo-icarus-theme
	url = https://github.com/digitalcraftsman/hugo-icarus-theme.git
