[submodule "site/themes/hyde-x"]
	path = site/themes/hyde-x
	url = https://github.com/zyro/hyde-x
[submodule "site/themes/hyde-x-larry"]
	path = site/themes/hyde-x-larry
	url = git@github.com:larrywright/hyde-x.git
