{{ define "title" }}
<title>
  {{ .Title }} &ndash; {{ .Site.Title }}
</title>
{{ end }}

{{ define "main" }}
<main aria-role="main">
  <div class="row">
    {{ $paginator := .Paginate (where .Pages "Type" "photo") 20 }}
    {{ range $paginator.Pages }}
    {{- $url := .Permalink }}
    {{- $title := .Title }}
    {{- $description := .Description }}
    {{- $count := len (.Resources.ByType "image")}}
    {{- $label := cond (eq 1 $count) "photo" "photos"}}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm ">
        {{ $images := .Resources.ByType "image" }}
        {{ $image  := index $images 0  }}
        {{ $thumb := $image.Fill "400x400" }}
        <a href="{{ $url }}">
          <picture>
            <img class="card-img-top img-thumbnail" src="{{ $thumb.Permalink }}" alt="{{ $title }}"/>
          </picture>
        </a>
        <div class="card-body d-none" >
            <a href="{{ $url }}">
                <h5 class="card-title" style="color:#555">{{$title}}</h6>
            </a>
            <p class="card-text text-muted">{{$description}}</p>
        </div>
        <div class="card-footer d-none">
          <small>
            <i class="fas fa-calendar mr-1" aria-hidden="true"></i>
            <time class="mr-1" datetime="{{ .Date.Format "2006-01-02T15:04:05JST" }}">{{ .Date.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}</time>
            {{ $count }} {{$label}} 
          </small>
          </div>
      </div>
    </div>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
  </div>
</main>
{{ end }}