body {
  color: #1E1E1E;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

 h1,h2,h3,h4,h5,h6, .card-header {
  font-family: Merriweather, Georgia, "Times New Roman", serif;
  font-weight: bold;
 }

.blog-post {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px dotted #ddd;
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.blog-post-title {
  margin-bottom: 0rem;
  font-size: 1.5rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  margin-top: 0rem;
}

a {
  color: #C93312;
}
a:hover {
  color: #1E1E1E;
}
.navbar-brand {
  font-weight: bold;
  font-family: Merriweather, Georgia, "Times New Roman", serif;
  color: #1E1E1E;
}

.nav-link {
  text-transform: uppercase;
}

article h2 {
  font-size: 1.25rem;
}

article h3 {
  font-size: 1rem;
}
.page-link {
  color: #C93312;
}
.page-item.active .page-link {
  background-color: #C93312;
  border-color: #C93312;
}

.page-link:hover {
  color: #1E1E1E;
}

.figure-caption {
  font-style: italic;
}
/* Uncomment these to show the grid objects - for debugging */
/* .container {
  border: 1px solid pink;
}
.row {
  border: 1px solid orange;
}
.col {
 border: 1px solid burlywood;
}
.col-md-8 {
  border: 1px solid green;
}
.card {
  border: 1px solid darkorchid;
} */
