body {
  color: #1E1E1E;
  background: #fefefe;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
}

.blog-post {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  max-width: 100% !important;
  overflow-x: hidden !important;
  border-bottom: 1px solid #ccc;
  background: #fff;
}

.blog-post-title {
  margin-bottom: 0rem;
  font-size: 2.0rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  margin-top: 0rem;
}

a {
  color: #1d4a70;
}

a:hover {
  color: #3684c6;
}

.blog-summary a {
  color: #fff;
}

.blog-summary a:hover {
  color: #fff;
  text-decoration: underline;
}


.navbar-brand {
  font-weight: bold;
  color: #1E1E1E;
}

.navbar-dark {
  background: #212934;
}

.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
  color: #dfdfdf;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
  background: #212934;
}

article a {
  color: #2769a0;
}

article h2 {
  font-size: 1.5rem;
}

article h3 {
  font-size: 1.25rem;
}

.page-link {
  color: #213d53;
}

.page-item.active .page-link {
  background-color: #213d53;
  border-color: #213d53;
}

.page-link:hover {
  color: #1E1E1E;
}

.figure-caption {
  font-style: italic;
}

figure {
  margin-bottom: 2rem;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin-left: 1.5rem;
  padding: 0.5em 10px;
  /* padding-bottom: 1rem; */
}

.bg-semitransparent {
  background-color: rgba(60, 60, 60, 0.8);
}


/* Uncomment these to show the grid objects - for debugging */
/* .container {
  border: 1px solid pink;
}
.row {
  border: 1px solid orange;
}
.col {
 border: 1px solid burlywood;
}
.col-md-8 {
  border: 1px solid green;
}
.card {
  border: 1px solid darkorchid;
} */