<article class="blog-post p-0">
  <h1 class="blog-post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
  <div class="blog-post-meta">
    <small class="text-muted"><i class="fas fa-calendar mr-1" aria-hidden="true"></i><time class="mr-1" datetime="{{ .Date.Format "2006-01-02T15:04:05JST" }}">{{ .Date.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}</time>
      {{ if .Params.categories }}    
      <i class="fas fa-bookmark" aria-hidden="true"></i>
    {{ range .Params.categories }}
    <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
    {{ end }}
  </small>
  </div>
  {{ .Content }}
</article>
