<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>  
  {{ partial "opengraph.html" . }}
  {{ partial "twitter_cards.html" .}}
  <link rel="stylesheet" href="/css/bootstrap.min.css">  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/blog.css">  
 
  {{ $siteTitle := .Site.Title }}
  {{ $authorName := .Site.Author.name }}
  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
  <meta name="description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.defaultDescription }}{{ end }}">
  <meta name="keywords" content="{{ range $index, $element := .Keywords }}{{ if gt $index 0 }},{{ end }}{{ . }}{{ else }}{{ .Site.Params.defaultKeywords }}{{ end }}">
  <meta name="author" content="{{ $authorName }}">
  <meta name="google-site-verification" content="DtlVvhxhtN3b0WXAY7Xu0jhqAPS24z4tqqfisd0jfZc" />
</head>