<article class="blog-post p-0">
  <h1 class="blog-post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
  <div class="blog-post-meta">
    <small class="text-muted">
      <i class="fas fa-calendar mr-1" aria-hidden="true"></i>
      <time class="mr-1" datetime="{{ .Date.Format "2006-01-02T15:04:05JST" }}">{{ .Date.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}</time>
    </small>
  </div>
  {{- $title := .Title }}
  
  {{- if not (isset .Params "auto")}}
  {{- if and (isset .Params "images") }}
  {{- $images := $.Resources.ByType "image" -}}        
    {{- $filename := .Params.image }}
    {{- $has_caption := isset .Params "caption" }}
    {{- $caption := cond $has_caption (.Params.caption) nil}}
    {{- range $images }}
      {{- $main := .Resize "1500x" }}
        <figure class="figure">
          <img class="figure-img img-fluid rounded" alt="{{$title}}" src="{{ $main.Permalink }}"/>
          {{- if ne $caption nil}}
            <figcaption class="figure-caption">{{ $caption}}</figcaption>
          {{- end }}
        </figure>
    {{- end }}
    {{ .Content }}
    {{- end }}
  {{- else }}
    {{- if and (isset .Params "auto") (eq .Params.auto true)  }}
      {{ .Content }}
      {{- $images := .Resources.ByType "image" }}
      {{- range $images }}
        {{- $main := .Resize "1500x" }}
        <figure class="figure">
          <img class="figure-img img-fluid rounded" alt="{{$title}}" src="{{ $main.Permalink }}"/>
        </figure>
      {{- end }}
  {{- else }}
    {{ .Content }}
  {{- end }}
{{- end }}
</article>
