  <div class="card mb-2">
    <div class="card-header">
        <i class="fas fa-user mr-1" aria-hidden="true"></i>
      <strong>About</strong>
    </div>
    <div class="card-body">
      <div class="card-text">
        <p>
          Perpetually curious. Unabashedly nerdy.
        </p>
        <p>
          <a href="/about/me">Learn more</a>
        </p>
      </div>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-header">
        <i class="fas fa-clock mr-1" aria-hidden="true"></i>
      <strong>Recent Posts</strong>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        {{- $recent_num := (.Site.Params.widgets.recent_num | default 10) }}
        {{- range first $recent_num (where .Site.RegularPages "Section" "in" (.Site.Params.postSections | default (slice "post"))) }}
        <li class="list-group-item pl-0"><a href="{{.RelPermalink}}">{{.Title | markdownify }}</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
  <div class="card mb-2">
    {{- if isset .Site.Taxonomies "categories" }}
    {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
    <div class="card-header">
        <i class="fas fa-tags mr-1" aria-hidden="true"></i>
      <strong>Categories</strong>
    </div>
    <div class="card-body">
      <ul>
        {{- range $name, $items := .Site.Taxonomies.categories }}
        <li><a href="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title | humanize }}</a></li>
        {{- end }}
      </ul>
    </div>
    {{- end }}
    {{- end }}
  </div>
  
  <div class="card mb-2">
    <div class="card-header">
        <i class="fas fa-external-link-square-alt mr-1"></i>
      <strong>Elsewhere</strong>
    </div>
    <div class="card-body">
      <ul class="list-unstyled">
        {{ with .Site.Params.github }}<li><i class="fab fa-github mr-2"></i><a href="{{ . }}">Github</a></li>{{ end }}
        {{ with .Site.Params.twitter }}<li><i class="fab fa-twitter mr-2"></i><a href="{{ . }}">Twitter</a></li>{{ end }}
        {{ if .Site.Params.rss }}<li><a href="{{ "/index.xml" | absURL }}" type="application/rss+xml">RSS</a></li>
        {{ end }}
      </ul>
    </div>
  </div>