{{- $permalink := .Permalink }}
{{- if .Params.featured }}
    {{- $images := $.Resources.ByType "image" }}
    {{- $image := $.Params.featured }}
    {{- $imageref := $images.GetMatch (printf "**%s*" $image) }}
<meta property="twitter:image" content="{{ (printf "%s%s" $permalink $image ) }}"/>
{{- else }}
    {{- with $.Params.images }}
        <meta name="twitter:card" content="summary_large_image"/>
        {{- $image := (index . 0) }}
        <meta name="twitter:image" content="{{- (printf "%s%s" $permalink $image) }}"/>
    {{- else }}
        {{- with .Site.Params.avatar }}
            {{- $avatar := . }}
            <meta property="twitter:image" content="{{ (printf "%simages/%s" $.Site.BaseURL . ) }}"/>
        {{- end }}
    {{- end }}    
{{- end }}
<meta name="twitter:title" content="{{ .Title }}"/>
{{- with $.Page.Description }}
<meta property="twitter:description" content="{{ $.Page.Description}}" />
{{- else }}
<meta name="twitter:description" content="{{ with .Site.Params.defaultDescription }}{{ . }}{{ end }}"/>
{{- end }}
{{- with .Site.Params.twitter }}
    <meta name="twitter:site" content="@{{ . }}"/>
    <meta name="twitter:creator" content="@{{ . }}"/>
{{ end }}
