{{ $permalink := .Permalink }}
{{- if .Params.featured}}
    {{- $images := $.Resources.ByType "image" -}}
    {{ $image := $.Params.featured }}
    {{- $imageref := $images.GetMatch (printf "**%s*" $image) }}
    <meta property="og:image" content="{{ (printf "%s%s" $permalink $image ) }}"/>
    <meta property="og:image:width" content="{{ $imageref.Width}}"/>
    <meta property="og:image:height" content="{{ $imageref.Height }}"/>        

{{- else}}

{{- with $.Params.images -}}
    <meta name="twitter:card" content="summary_large_image"/>
    <!-- As per https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary-card-with-large-image,
         the required card property is "twitter:image", not "twitter:image:src". -->
    {{- $image := (index . 0) }}
    <meta name="twitter:image" content="{{- (printf "%s%s" $permalink $image) -}}"/>
   
{{ else -}}
    {{- $images := $.Resources.ByType "image" -}}
    {{- $featured := $images.GetMatch "*feature*" -}}
    {{- $featured := cond (ne $featured nil) $featured ($images.GetMatch "{*cover*,*thumbnail*}") -}}
    {{- with $featured -}}
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:image" content="{{ $featured.Permalink }}"/>
    {{- else -}}
        {{- with $.Site.Params.images -}}
            <meta name="twitter:card" content="summary_large_image"/>
            {{- $image := (index . 0) -}}
            {{- $image_link_absolute := (findRE "^/" $image) -}}
            {{- if $image_link_absolute -}}
                <meta name="twitter:image" content="{{- $image | absURL -}}"/>
            {{- else -}}
                <meta name="twitter:image" content="{{- (printf "%s%s" $permalink $image) -}}"/>
            {{- end -}}
        {{ else -}}
            <meta name="twitter:card" content="summary"/>
        {{- end -}}
    {{- end -}}
{{- end }}
{{- end }}
<meta name="twitter:title" content="{{ .Title }}"/>
{{- with $.Page.Description }}
<meta property="twitter:description" content="{{ $.Page.Description}}" />
{{- else }}
<meta name="twitter:description" content="{{ with .Site.Params.defaultDescription }}{{ . }}{{ end }}"/>
{{- end }}
{{ with .Site.Params.twitter -}}
    <meta name="twitter:site" content="@{{ . }}"/>
    <meta name="twitter:creator" content="@{{ . }}"/>
{{ end -}}
