<!doctype html>
<html lang="en">
{{ partial "head.html" . }}
<body>
  <div class="container">
    {{ partial "navigation.html" . }}
    <div class="row mt-5 pt-4">
      <div id="main" class="col-md-8 pt-8">
        {{ block "main" . }}
        {{ end }}
      </div>
      <div class="col mt-4 pt-5">
        {{ block "sidebar" . }}
        {{ partial "sidebar.html" . }}
        {{ end }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {{ block "footer" . }}
        {{ partial "footer.html" . }}
        {{ end }}
      </div>
    </div>
  </div>
</body>
</html>