{{- define "title" }}
  <title>
    {{ .Title }} &ndash; {{ .Site.Title }}
  </title>
{{- end }}

{{ define "main" }}
  <main aria-role="main">
    {{- range .Paginator.Pages }}
      {{- if eq .Type "photo"}}
        {{ .Render "summary" }}
      {{- else if eq .Type "post"}}
      {{ if isset .Params "summary" }}
        {{ .Render "summary" }}
      {{- else }}
    {{ partial "article.html" . }}
        {{- end}}
      {{- end }}
    {{- end }}
    {{ template "_internal/pagination.html" . }}
    <hr />
  </main>
{{ end }}